<div class="row">
    <div class="container">
        <h4>Emailing: {{vm.currentUserEmail}}</h4>
    </div>
</div>
<div class="row">
    <div class="container">
        <form name="mapc.editForm" class="col-sm-6">


            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" ng-model="mapc.name">
            </div>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input class="form-control" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" name="emailaddress" type="email" ng-model="mapc.emailaddress" />
            </div>
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea required class="form-control" rows="5" id="comment" ng-model="mapc.comments"></textarea>
            </div>
            <button ng-disabled="mapc.editForm.$invalid" class="btn btn-success fade-me" ng-click="mapc.submit()">Submit</button>
        </form>
    </div>
</div>