
<section class="col-sm-12 jumbotron">
    <div class="col-sm-3">
        <div id="listdiv" style="display: none; width:200px; overflow:auto; height:300px; float:left; background-color:#EEEEEE;"></div>
        <div ng-repeat="item in vm.dclocations | filter: {title: vm.selectedDC}">
            <h3>{{item.title}}</h3>
            <table class="table table-hover">
                <tr>
                    <th>Address</th>
                    <td>{{item.address}}</td>
                </tr>
                <tr>
                    <th>Size</th>
                    <td>{{item.size}}</td>
                </tr>
                <tr>
                    <th>Power</th>
                    <td>{{item.power}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-6">
        <div id="mapdiv" style="background-color:#EEEEEE; height: 300px;"></div>
    </div>
    <div class="col-sm-3">
        <div ng-repeat="item in vm.dclocations | filter: {title: vm.selectedDC}" style="margin-top: 75px">
            <h3>Site Engagement</h3>
            <table class="table table-hover">
                <tr>
                    <th>Incidents</th>
                    <td>{{item.faults}}</td>
                </tr>
                <tr>
                    <th>Planned Works</th>
                    <td>{{item.planned}}</td>
                </tr>
                <tr>
                    <th>Change Control</th>
                    <td>{{item.ccontrol}}</td>
                </tr>
            </table>
            <btn class="btn btn-primary">Contact Site</btn>
        </div>
    </div>
</section>
<div class="col-sm-4 jumbotron">
    <h2>Site Manager</h2>
    hello
</div>
<div class="col-sm-4 jumbotron">
    <h2>Site Lead</h2>
    world
</div>
<div class="col-sm-4 jumbotron">
    <h2>Site Enginners</h2>
    here
</div>
    </section>
    </div>